.Card {
  height: 100px;
  width: 100px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
}

.Card-selected {
  background: aliceblue;
  border: 3px solid #e1e9f1;
}

.Card-unselected {
  background: white;
  border: 3px solid #f3f3f3;
}

.Card-matched {
  background: #fffdf0;
  border: 3px solid #f1f1e1;
}

.Card:hover {
  background: #d2d8de;
}

.Card-icon {
  margin-top: 26px;
  color: #42474c;
}
